fastapi==0.115.4
uvicorn==0.32.0
# TF 2.20 does not exist. 2.18 is the latest stable.
tensorflow==2.18.0
# TensorFlow often breaks with NumPy 2.0+. We force 1.x here.
numpy<2.0.0
# You MUST use headless OpenCV on Cloud servers or it will crash.
opencv-python-headless==4.10.0.84
matplotlib==3.9.2
pillow==11.0.0
# Streamlit 1.50 does not exist. 1.40 is the latest.
streamlit==1.40.1
requests==2.32.3